
.container {  
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.5fr 2.1fr 0.4fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row dense;
  grid-template-areas:
    "head head head"
    "sub1 main sub2"
    "foot foot foot";
  min-height: 100vh;
}

.head { 
  grid-area: head;
  justify-items: center;
  align-items: center;
  font-size: 35px;
  font-family: Britannic;
  font-weight: bold;
}

.foot { 
  grid-area: foot;
}

.main {  
  display: grid;
  grid-template-columns: 1.2fr 0.6fr 1.2fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "req non res";
  grid-area: main;
}

.res { 
  grid-area: res;
  font-weight: bold;
}

.req { 
  grid-area: req; 
  font-weight: bold;
}

.non { 
  grid-area: non;
  justify-items: center;
  align-items: center;
}

.sub1 { 
  grid-area: sub1; 
}

.sub2 { 
  grid-area: sub2; 
}

#btn_size{
  width:50px;
}

